//header

.bg-dark {
  background-color: $primary-color !important;
}
//search bar

.sidebar {
  box-shadow: $box-shadow;
}
// vendor

.page-item.active .page-link {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}
.page-link {
  color: $primary-color;
}
